.light {
  --text-color: #000;
  --foreground-color: #000;
  --background-color: #e3e1f0;
  --line-color: #9f9f9f;
  --gradient-color: #0000001a;
  --toggle-color: #b580ff;
  margin: 0;
  padding: 0;
}

.dark {
  --text-color: #fff;
  --foreground-color: #fff;
  --background-color: #191518;
  --line-color: #9f9f9f;
  --gradient-color: #ffffff1a;
  --toggle-color: #c49bff;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

.dark,
.light {
  color: var(--foreground-color);
  background-color: var(--background-color);
  transition: color 0.2s ease-out, background-color 0.4s ease-out;
}

a {
  color: inherit;
  text-decoration: none;
}
