.list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    font-size: 1.2rem;
    font-weight: 300;
    color: var(foreground-color);
    gap: 1rem;
    padding: 0.5rem 2.5rem 0.5rem 1rem;
    background: var(--chapter-list-background);
    border-radius: 5px;
  }
  
  .chapter_label {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    width: 75%;
  }
  
  .chapter_label div:nth-child(1) {
    font-weight: 700;
  }
  
  .chapter_label div:nth-child(2) {
    font-weight: 300;
  }
  
  .read_button {
    background: var(--card-hover-border);
    border-radius: 5px;
    padding: 0.4rem 0.7rem;
    font-size: 1.2rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.1s ease;
  }
  
  .read_button:hover {
    background: var(--read-button);
    color: #2b2229;
  }
  