@keyframes pulse {
  0% {
    transform: scale(0.8);
    opacity: 0.3;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }
  60% {
    transform: scale(1);
    opacity: 1;
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }
  100% {
    transform: scale(0.8);
    opacity: 0.3;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

.all_overview_wrapper {
  display: flex;
  flex-direction: row;
  gap: 7em;
  width: 100%;
  transform: translateY(5em);
  padding: 7em 9em;
  background-color: var(--story-overview-background);
}

.left_overview_wrapper {
  display: flex;
  flex: 0 0 65%;
}

.story_image {
  margin-right: 3em;
}

.info_wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.info_wrapper h1 {
  font-size: 2.7em;
  font-weight: 300;
}

.description_full,
.description {
  display: -webkit-box;
  overflow: hidden;
  font-size: 1.1em;
  font-weight: 200;
}

.description {
  line-clamp: 5;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.description_full {
  line-clamp: unset;
  -webkit-line-clamp: unset;
  -webkit-box-orient: unset;
}

.more_button {
  display: block;
  font-size: 1em;
  font-weight: 200;
  width: fit-content;
  color: var(--read-more-button);
  cursor: pointer;
}

.more_button_none {
  display: none;
}

.genre_wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
}

.link {
  width: fit-content;
}

.read_now {
  padding: 10px 15px;
  margin: 0.5em 0;
  background-color: var(--read-button);
  border-radius: 7px;
  font-size: 1.2em;
  font-weight: 500;
  width: fit-content;
  color: #282126;
  cursor: pointer;
}

.right_overview_wrapper {
  display: flex;
  flex-direction: column;
  margin: 1.5em 0;
  flex: 0 0 20%;
  font-size: 18px;
}

.all_parameters_wrapper {
  display: flex;
  flex-direction: column;
  flex: 0 0 55%;
  gap: 0.7em;
}

.parameter_value_wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
  width: 100%;
}

.values {
  font-weight: 600;
}

.star {
  color: var(--read-button);
  margin: 0.5em 0;
  font-size: 1.2em;
}

.ratings_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  border-left: solid var(--line-color) 5px;
  border-radius: 5px;
  padding: 20px 0px;
  gap: 1em;
}

.chapters_overview_wrapper {
  display: flex;
  justify-content: center;
  padding: 5rem 0;
  min-height: 34dvh;
  transform: translateY(5em);
}

.reviews_wrapper {
  display: flex;
  flex-direction: column;
  gap: 2em;
  width: 80%;
  margin: 2em auto 0 auto;
  padding: 5em 8em;
}

.optional {
  display: none;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80dvh;
}

.book {
  position: absolute;
  animation: pulse 2s infinite;
}

@media (max-width: 1500px) {
  .all_overview_wrapper {
    padding: 7em 7em;
    gap: 5em;
    justify-content: space-between;
  }
  .left_overview_wrapper {
    flex: unset;
  }
  .story_image {
    margin-right: 2em;
  }
  .right_overview_wrapper {
    width: 140ch;
    flex: unset;
  }
}

@media (max-width: 1300px) {
  .all_overview_wrapper {
    padding: 7em 4em;
    gap: 2em;
  }
  .story_image {
    margin-right: 1em;
  }
  .right_overview_wrapper {
    width: 120ch;
  }
}

@media (max-width: 1200px) {
  .all_overview_wrapper {
    padding: 3em 5em;
    flex-direction: column;
  }
  .left_overview_wrapper {
    width: 100%;
    gap: 2em;
    margin-bottom: 2em;
  }

  .right_overview_wrapper {
    margin-left: 19em;
    flex-direction: row;
    align-items: center;
    font-size: 16px;
  }
  .all_parameters_wrapper {
    flex: none;
  }
  .ratings_wrapper {
    align-items: center;
    width: max-content;
    margin: 0 4em;
    padding: 0 25px;
  }
  .parameter_value_wrapper {
    gap: 1em;
  }
  .info_wrapper h1 {
    font-size: 2.5em;
  }
  .description,
  .description_full {
    font-size: 1em;
  }
  .more_button {
    font-size: 0.9em;
  }
  .read_now {
    font-size: 1em;
  }
  .reviews_wrapper {
    width: 90%;
    gap: 1.5em;
    margin: 1.5em auto 0 auto;
    padding: 3em 6em;
  }
}

@media (max-width: 900px) {
  .left_overview_wrapper {
    flex-direction: column;
    align-items: center;
  }
  .story_image {
    height: 400px;
    width: 300px;
    margin: 0;
  }
  .info_wrapper {
    align-items: center;
    text-align: center;
  }
  .genre_wrapper {
    display: none;
  }
  .right_overview_wrapper {
    margin-left: 0;
    width: 100%;
    justify-content: space-between;
  }
  .ratings_wrapper {
    margin: 0;
    align-items: center;
    width: max-content;
  }
  .optional {
    display: flex;
    width: 400px;
  }
  .parameter_value_wrapper {
    align-items: flex-start;
  }
  .parameter_value_wrapper:nth-child(4) {
    align-items: center;
  }
  .parameters::after {
    content: ":";
  }
  .chapters_overview_wrapper {
    min-height: 30dvh;
  }
}

@media (max-width: 800px) {
  .all_overview_wrapper {
    transform: translateY(4em);
  }
  .optional {
    width: 300px;
  }
  .reviews_wrapper {
    width: 100%;
    gap: 1em;
    margin: 1em auto 0 auto;
    padding: 1em 4em;
  }
}

@media (max-width: 700px) {
  .all_overview_wrapper {
    padding: 3em 2em;
    gap: 0;
  }
  .info_wrapper {
    gap: 0.3rem;
  }
  .info_wrapper h1 {
    font-size: 2.2em;
    margin-bottom: 0.5em;
  }
  .read_now {
    font-size: 0.9em;
    margin-bottom: 3em;
  }
  .optional {
    width: 100%;
  }
  .description,
  .description_full {
    font-size: 0.9em;
  }
  .more_button {
    font-size: 0.7em;
  }
  .right_overview_wrapper {
    flex-direction: column-reverse;
    align-items: flex-start;
    gap: 3em;
    font-size: 14px;
  }
  .parameter_value_wrapper {
    gap: 0.5em;
  }
  .ratings_wrapper {
    align-self: center;
    padding: 10px 5px;
    border: none;
    border-top: 1px solid var(--line-color);
    border-bottom: 1px solid var(--line-color);
    align-items: center;
  }
  .chapters_overview_wrapper {
    min-height: 25dvh;
  }
}

@media (max-width: 600px) {
  .all_overview_wrapper {
    transform: translateY(3em);
  }
  .story_image {
    height: 300px;
    width: 200px;
  }
  .reviews_wrapper {
    gap: 0.3em;
    padding: 1em 3em;
  }
}
