.story_wrapper {
  display: flex;
  flex-direction: column;
  gap: 2em;
  background: var(--card-background);
  border-radius: 10px;
  padding: 2em;
}

.story_wrapper:hover,
.story_wrapper:focus,
.story_wrapper:active {
  background: var(--card-background-hover);
}

.name_wrap {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
}

.story_name {
  font-size: 1.6rem;
  font-weight: 600;
}

.line {
  width: 100%;
  height: 1px;
  background: #5f5f5f;
}

.story_details {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.all_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.all_titles {
  color: var(--text-color2);
}

.all_values {
  font-weight: 600;
}

@media (max-width: 1200px) {
  .story_name {
    font-size: 1.4rem;
  }
}

@media (max-width: 1000px) {
  .story_name {
    font-size: 1.3rem;
  }

  .story_wrapper {
    padding: 1.5em;
  }
  .all_titles,
  .all_values {
    font-size: 0.9rem;
  }
}

@media (max-width: 800px) {
  .story_wrapper {
    padding: 1em;
  }

  .name_wrap {
    gap: 0.5em;
  }

  .story_name {
    font-size: 1.2rem;
  }

  .story_details {
    gap: 1em;
  }
  .all_titles,
  .all_values {
    font-size: 0.8rem;
  }
}

@media (max-width: 600px) {
  .story_name {
    font-size: 1rem;
  }
  .all_titles,
  .all_values {
    font-size: 0.7rem;
  }
}

@media (max-width: 500px) {
  .story_name {
    font-size: 0.9rem;
  }
  .all_titles,
  .all_values {
    font-size: 0.6rem;
  }
}
