.head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 1.7rem;
  font-weight: 500;
  color: var(--text-color2);
}

.button {
  padding: 7px 12px;
  background-color: var(--read-button);
  border-radius: 7px;
  font-size: 1rem;
  font-weight: 500;
  border: 1px solid var(--story-overview-background);
  outline: none;
  cursor: pointer;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.review_form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 1rem 0;
}

.review_form textarea {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: 1px solid var(--text-color2);
  width: 100%;
  height: 7em;
  color: var(--text-color);
  background: var(--chapter-list-background);
  resize: none;
  outline: none;
}

.review_form button {
  display: flex;
  align-self: flex-end;
  gap: 0.5rem;
  align-items: center;
  padding: 0.5rem;
  border-radius: 15px;
  background-color: var(--read-button);
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  border: none;
}

.reviews_cover {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 3rem 0;
}

.review_card {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0;
  padding: 1rem;
  background: var(--review-background);
  border-radius: 5px;
  width: 100%;
  gap: 1rem;
}

.head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.head div:nth-child(1) {
  display: flex;
  flex-direction: row;
  gap: 1em;
  align-items: center;
}

.user_icon {
  width: 2em;
  height: 2em;
  border-radius: 100%;
  background-color: var(--comment-button-color);
  color: var(--text-color-opposite);
  display: flex;
  justify-content: center;
  align-items: center;
}

.user_name {
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--text-color2);
}

.date {
  font-size: 0.9rem;
  color: var(--comment-button-color);
  opacity: 0.7;
}

.dots {
  cursor: pointer;
}

.content {
  padding: 5px 15px;
}

.delete {
  font-size: 1em;
  padding: 10px 15px;
  border-radius: 10px;
  cursor: pointer;
}

.delete:hover {
  background-color: var(--option-hover);
}

@media (max-width: 900px) {
  .title {
    font-size: 1.5rem;
  }
  .button {
    padding: 5px 10px;
    font-size: 0.9rem;
  }
  .review_form textarea {
    height: 6em;
    font-size: small;
  }
  .review_form button {
    gap: 0.3rem;
    padding: 0.3rem;
    font-size: 0.9rem;
  }
  .send_button {
    height: 20px;
    width: 20px;
  }
  .reviews_cover {
    margin: 2rem 0;
    gap: 1.5rem;
  }
  .review_card {
    margin: 0;
    gap: 0.7rem;
  }
  .user_icon,
  .dots {
    width: 1.5em;
    height: 1.5em;
  }
  .date {
    font-size: 0.7rem;
  }
  .content {
    padding: 3px 12px;
    font-size: 15px;
  }
}

@media (max-width: 700px) {
  .title {
    font-size: 1.2rem;
  }
  .button {
    padding: 3px 8px;
    font-size: 0.8rem;
  }
  .review_form textarea {
    height: 5em;
    font-size: smaller;
  }
  .review_form button {
    gap: 0.2rem;
    padding: 0.2rem;
    font-size: 0.8rem;
  }
  .send_button {
    height: 18px;
    width: 18px;
  }
  .reviews_cover {
    margin: 1rem 0;
    gap: 1rem;
  }
  .review_card {
    padding: 0.7rem;
    gap: 0.5rem;
  }
  .user_icon,
  .dots {
    width: 1em;
    height: 1em;
  }
  .user_name {
    font-size: 0.8rem;
  }
  .date {
    font-size: 0.5rem;
  }
  .content {
    padding: 0 5px;
    font-size: 12px;
  }
}
