.stories_wrapper {
  display: flex;
  flex-direction: column;
  width: 75%;
  margin-top: 5rem;
}
.stories_text {
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 1rem;
  margin-left: 1rem;
}
.stories_line {
  height: 1px;
  background-color: var(--line-color);
  align-self: center;
  margin-bottom: 2.5rem;
}
.stories_cards_wrapper {
  margin-top: 1rem;
}

@media (max-width: 1000px) {
  .stories_wrapper {
    width: 85%;
  }
}

@media (max-width: 800px) {
  .stories_wrapper {
    width: 90%;
  }
  .stories_text {
    font-size: 2.3rem;
  }
}

@media (max-width: 600px) {
  .stories_line {
    margin-bottom: 1.5rem;
  }
  .stories_text {
    font-size: 2.1rem;
  }
}

@media (max-width: 500px) {
  .stories_text {
    font-size: 1.8rem;
  }
}
