.login_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.login_cover {
  width: 500px;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.25);
  background-color: var(--card-background);
}

.login_cover h1 {
  text-align: center;
  margin-bottom: 2em;
}

.login_cover form {
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
}

.login_cover form label {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  margin-bottom: 2em;
}

.login_cover form label div {
  font-size: 0.8em;
}

.login_cover form input[type="text"],
.login_cover form input[type="email"],
.login_cover form input[type="password"] {
  font-size: 1em;
  padding: 10px 15px;
  border-radius: 5px;
  border: 1px solid #ddd;
  outline: none;
}

.login_cover form input[type="submit"] {
  font-size: 19px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: var(--toggle-color);
  color: #000;
  cursor: pointer;
  margin-top: 10px;
}

.login_cover form input[type="submit"]:hover {
  background-color: var(--toggle-color-hover);
}

.forget_password {
  text-align: center;
  margin-bottom: 1em;
}

.login_cover a {
  display: inline-block;
  margin-top: 10px;
  color: var(--text-color-alt);
  text-decoration: none;
}

.login_cover a:hover {
  text-decoration: underline;
}

.no_account_sign_up {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .login_cover {
    padding: 30px;
  }

  .login_cover h1 {
    font-size: 1.8rem;
  }

  .login_cover form label div {
    font-size: 0.7em;
  }

  .login_cover form input[type="submit"] {
    font-size: 16px;
  }
}

@media (max-width: 600px) {
  .login_cover {
    width: 80%;
  }
}

@media (max-width: 500px) {
  .login_cover {
    width: 90%;
    padding: 20px;
  }

  .login_cover h1 {
    font-size: 1.6rem;
  }

  .login_cover form label div {
    font-size: 0.6em;
  }

  .login_cover form input[type="submit"] {
    font-size: 14px;
  }
}

@media (max-width: 400px) {
  .login_cover {
    width: 85%;
  }

  .login_cover h1 {
    font-size: 1.4rem;
  }

  .login_cover form label div {
    font-size: 0.5em;
  }

  .login_cover form input[type="submit"] {
    font-size: 12px;
  }
}
