@keyframes pulse {
  0% {
    transform: scale(0.8);
    opacity: 0.3;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }
  60% {
    transform: scale(1);
    opacity: 1;
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }
  100% {
    transform: scale(0.8);
    opacity: 0.3;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

.read_container {
  min-width: 100dvw;
  min-height: 100dvh;
}

.read_wrapper {
  padding: 4em 7em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
}

.darklight {
  position: fixed;
  top: 2em;
  right: 2em;
  display: flex;
}

.story_name {
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.chapter_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.content {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  gap: 1em;
  font-size: 1.4rem;
  margin: 5em 0;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.book {
  position: absolute;
  animation: pulse 2s infinite;
}

@media (max-width: 1200px) {
  .read_wrapper {
    padding: 3em 5em;
  }
  .darklight {
    top: 1.5em;
    right: 1.5em;
  }
}

@media (max-width: 800px) {
  .read_wrapper {
    padding: 2em 3em;
  }
  .darklight {
    top: 1em;
    right: 1em;
  }
  .story_name {
    font-size: 1.5rem;
  }
  .chapter_info {
    font-size: 1.2rem;
  }
  .content {
    font-size: 1.2rem;
  }
  .book {
    width: 60px;
    height: 60px;
  }
}

@media (max-width: 600px) {
  .read_wrapper {
    padding: 1em 2em;
  }
  .darklight {
    top: 0.5em;
    right: 0.5em;
  }
  .content {
    font-size: 1.1rem;
  }
  .book {
    width: 50px;
    height: 50px;
  }
}

@media (max-width: 500px) {
  .read_wrapper {
    padding: 0.5em 1em;
  }
}

@media (max-width: 400px) {
  .read_wrapper {
    padding: 0.5em 0.5em;
  }
}
