.chapters_wrapper {
  display: flex;
  flex-direction: column;
  width: 65%;
  background: var(--background-color2);
  padding: 2rem;
  border-radius: 5px;
  border: 1px solid var(--gradient-color);
}

.chapters_text {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 1rem;
  margin-left: 1rem;
}

.no_chapters {
  align-self: center;
  justify-self: center;
  font-size: 1.4rem;
  font-weight: 300;
}

.chapters_list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  min-height: fit-content;
  max-height: 600px;
  overflow-y: scroll;
  scrollbar-width: none;
  padding-right: 1rem;
}

.chapters_list::-webkit-scrollbar {
  width: 0;
}

@media (max-width: 1200px) {
  .chapters_wrapper {
    width: 80%;
  }
}

@media (max-width: 900px) {
  .chapters_wrapper {
    padding: 1.5rem;
    width: 90%;
  }
  .chapters_text {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
  }
  .no_chapters {
    font-size: 1.2rem;
  }
  .chapters_list {
    padding-right: 0;
    max-height: 500px;
  }
}

@media (max-width: 700px) {
  .chapters_wrapper {
    padding: 1rem;
    width: 95%;
  }
  .chapters_text {
    font-size: 1.2rem;
  }
  .no_chapters {
    font-size: 1rem;
  }
}

@media (max-width: 600px) {
  .chapters_list {
    max-height: 400px;
  }
}
