.comment_wrapper {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0;
  padding: 1rem 2rem;
  background: var(--card-background);
  border-radius: 5px;
  width: 100%;
  gap: 1rem;
}

.comment_head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.comment_chapter {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  align-items: center;
}

.comment_chapter_title {
  color: var(--text-color2);
}

.comment_wrapper p {
  font-size: 1.1rem;
  font-weight: 400;
}

.comment_wrapper span {
  font-size: 1.3rem;
  font-weight: 500;
  text-decoration: underline;
}

.comment_details {
  display: -webkit-box;
  overflow: hidden;
  width: 90%;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
