@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner_container,
.spinner_container2 {
  display: flex;
  position: absolute;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.spinner_container {
  height: 100dvh;
}

.spinner_container2 {
  height: 100%;
}

.spinner,
.spinner2 {
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.spinner {
  border: 10px solid var(--background-color);
  border-top: 10px solid var(--card-background);
  width: 120px;
  height: 120px;
}

.spinner2 {
  border: 5px solid var(--background-color);
  border-top: 5px solid var(--card-background);
  width: 30px;
  height: 30px;
}

@media (max-width: 800px) {
  .spinner {
    width: 100px;
    height: 100px;
  }
  .spinner2 {
    width: 25px;
    height: 25px;
  }
}

@media (max-width: 600px) {
  .spinner {
    width: 80px;
    height: 80px;
    border-width: 7px;
  }
  .spinner2 {
    width: 20px;
    height: 20px;
    border-width: 4px;
  }
}
