.landing_wrapper {
  width: 100%;
  height: 100dvh;
  margin: 0 0 5rem 0;
  background: linear-gradient(
      0deg,
      var(--gradient-color),
      var(--background-color)
    ),
    url(/wallpaper.jpg) no-repeat center center;
  background-attachment: fixed;
  user-select: none;
}

.landing_cover {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15rem 0px 20rem 0px;
}

.title {
  font-size: 5rem;
  color: var(--foreground-color);
  margin-bottom: 2.5rem;
}

.subtitle {
  font-size: 2rem;
  font-weight: 300;
  color: var(--foreground-color);
  margin-bottom: 2.5rem;
}

@media (max-width: 1000px) {
  .landing_wrapper {
    margin: 0 0 3rem 0;
  }
  .title {
    font-size: 4rem;
    margin-bottom: 2rem;
  }
  .subtitle {
    font-size: 1.8rem;
    margin-bottom: 2rem;
  }
}

@media (max-width: 800px) {
  .title {
    font-size: 3.5rem;
    margin-bottom: 1.5rem;
  }
  .subtitle {
    font-size: 1.6rem;
    margin-bottom: 1.5rem;
  }
}

@media (max-width: 600px) {
  .landing_wrapper {
    margin: 0 0 2rem 0;
  }
  .title {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  .subtitle {
    font-size: 1.4rem;
    margin-bottom: 1rem;
  }
}
