@keyframes image-hover {
  0% {
    transform: translateX(0) translateZ(0) rotateY(0);
    transform-origin: center left;
  }
  100% {
    transform: skewY(2deg) translateZ(150px) rotateY(-20deg);
    transform-origin: center left;
  }
}

.main_story_wrapper {
  padding: 0em 4em;
  height: 600px;
  display: flex;
  align-items: center;
  backdrop-filter: blur(7px);
  background-color: var(--main-background);
  transition: all 0.3s ease-in-out;
}

.main_story_wrapper:hover {
  .main_story_image {
    box-shadow: 20px 0 5px 10px var(--image-hover);
    animation: image-hover 0.3s ease-out both;
    transition: all 0.5s ease-out;
  }
}

.main_story_left {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 2.5em 0em;
  width: 55%;
}

.name_wrapper {
  margin: 1em 0em 3.5em 0em;
  transition: all 0.3s ease;
}

.main_name {
  font-size: 3.2rem;
  margin-bottom: 0.5rem;
  color: #ffffff;
  text-shadow: 0 3px 15px #000000bb;
}

.name_underline {
  width: 100%;
  height: 1px;
  background-color: #777777;
  margin-top: 1rem;
}

.genre_wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  gap: 2em;
  margin-bottom: 3em;
}

.genres_wrapper > * {
  flex: 0 0 0 calc(33.333% - 1rem); /* Maximum three elements per row with a gap */
}

.main_description {
  font-size: 1.3rem;
  width: 80%;
  color: #cecece;
  margin-bottom: 2em;
  display: -webkit-box;
  overflow: hidden;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-shadow: 0 2px 10px #00000075;
}

.main_story_right {
  display: flex;
}

.main_story_image {
  width: 450px;
  height: 500px;
  border-radius: 15px 5px 5px 15px;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 1200px) {
  .main_story_wrapper {
    height: 500px;
    padding: 0em 2em;
  }
  .main_story_left {
    width: 60%;
  }
  .genre_wrapper {
    gap: 1em;
    width: 80%;
    margin-bottom: 2em;
  }
  .main_name {
    font-size: 2.8rem;
  }
  .main_description {
    font-size: 1.2rem;
  }
  .main_story_image {
    width: 350px;
    height: 450px;
  }
}

@media (max-width: 1000px) {
  .main_story_wrapper {
    height: 500px;
    padding: 0em 1.5em;
  }
  .main_name {
    font-size: 2.5rem;
  }
  .main_description {
    font-size: 1.1rem;
    line-clamp: 2;
    -webkit-line-clamp: 2;
  }
  .main_story_left {
    width: 70%;
  }

  .main_story_image {
    width: 250px;
    height: 400px;
  }
}

@media (max-width: 800px) {
  .main_story_wrapper {
    height: 400px;
  }
  .main_story_left {
    width: 60%;
  }
  .main_name {
    font-size: 2.3rem;
  }
  .genre_wrapper {
    gap: 0.5em;
    width: 90%;
    margin-bottom: 1.5em;
    font-size: small;
  }
  .main_description {
    font-size: 0.9rem;
  }
  .main_story_image {
    width: 250px;
    height: 350px;
  }
}

@media (max-width: 600px) {
  .main_story_wrapper {
    height: 350px;
    padding: 0em 1em;
  }
  .main_story_left {
    width: 70%;
  }
  .main_name {
    font-size: 2.1rem;
  }
  .genre_wrapper {
    gap: 0.3em;
    margin-bottom: 1em;
    font-size: x-small;
  }
  .main_description {
    font-size: 0.8rem;
  }
  .main_story_image {
    width: 210px;
    height: 300px;
  }
}

@media (max-width: 500px) {
  .main_story_wrapper {
    height: 250px;
    padding: 0em 0em 0em 1em;
  }
  .main_story_left {
    width: 80%;
  }
  .main_name {
    font-size: 1.9rem;
  }
  .main_description {
    display: none;
  }
  .main_story_image {
    width: 200px;
    height: 250px;
  }
  .main_story_wrapper:hover {
    .main_story_image {
      transform: rotate(4deg) scale(1.1) translateX(-7px);
    }
  }
}

@media (max-width: 400px) {
  .main_story_wrapper {
    height: 260px;
    padding: 0em 0em 0em 0.5em;
  }
  .main_story_left {
    width: 90%;
  }
  .main_name {
    font-size: 1.7rem;
  }
  .main_story_image {
    width: 200px;
  }
}
