.card_wrapper {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-bottom: 2rem;
  background: var(--card-background);
  border: solid 1px var(--background-color);
  padding: 40px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.head_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}

.name_wrapper {
  margin-left: 2rem;
}

.story_name {
  font-size: 2.5rem;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
}

.story_name_alt {
  font-size: 2.7rem;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
}

.name_underline {
  width: 0%;
  height: 1px;
  background-color: #777777;
  margin-top: 0.5rem;
  transition: all 0.3s ease-in-out;
}

.genres_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end; /* Start from the right */
  font-size: large;
  gap: 1rem;
}

.genres_wrapper > * {
  flex: 0 0 calc(33.333% - 3rem); /* Maximum three elements per row with a gap */
}

.story_description {
  font-size: large;
  width: 85%;
  margin-left: 1rem;
  display: -webkit-box;
  overflow: hidden;
  line-clamp: 1;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.card_wrapper:hover,
.card_wrapper:focus,
.card_wrapper:active {
  background: linear-gradient(
    180deg,
    var(--card-background) 10%,
    var(--card-background-hover) 50%,
    var(--card-background) 90%
  );
  box-shadow: 10px 40px 15px 0px rgba(0, 0, 0, 0.2);
  margin-bottom: 2.5rem;
  transform: translateY(-5px);
  .story_name {
    font-size: 2.7rem;
  }
  .name_underline {
    width: 100%;
  }
  transition: all 0.3s ease-in-out;
}

@media (max-width: 1000px) {
  .card_wrapper {
    width: 95%;
  }
  .genres_wrapper {
    width: 40%;
  }
}

@media (max-width: 800px) {
  .card_wrapper {
    padding: 20px;
    margin-bottom: 1.5em;
    width: 100%;
  }
  .card_wrapper:hover,
  .card_wrapper:focus,
  .card_wrapper:active {
    margin-bottom: 2rem;
    box-shadow: 10px 30px 15px 0px rgba(0, 0, 0, 0.2);
    .story_name {
      font-size: 2.5rem;
    }
  }
  .head_wrapper {
    margin-bottom: 2rem;
  }
  .genres_wrapper {
    font-size: medium;
    width: 50%;
    gap: 0.5rem;
  }
  .genres_wrapper > * {
    flex: 0 0 calc(50% - 3rem);
  }
  .story_name {
    font-size: 2.3rem;
  }
  .story_name_alt {
    font-size: 2.5rem;
  }
  .story_description {
    font-size: medium;
  }
}

@media (max-width: 600px) {
  .card_wrapper {
    margin-bottom: 1em;
    padding: 20px 20px 20px 10px;
  }
  .story_name {
    font-size: 2.1rem;
  }
  .story_name_alt {
    font-size: 2.3rem;
  }
  .card_wrapper:hover,
  .card_wrapper:focus,
  .card_wrapper:active {
    margin-bottom: 1.5rem;
    box-shadow: 10px 20px 15px 0px rgba(0, 0, 0, 0.2);
    .story_name {
      font-size: 2.3rem;
    }
  }
  .head_wrapper {
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    margin-bottom: 1.5rem;
  }
  .name_wrapper {
    margin-left: 0.5em;
    margin-bottom: 0.5rem;
  }
  .genres_wrapper {
    justify-content: flex-start;
    width: 100%;
    padding-left: 1em;
  }
  .genres_wrapper > * {
    flex: none;
  }
  .genres_wrapper,
  .story_description {
    font-size: small;
  }
}

@media (max-width: 500px) {
  .story_name {
    font-size: 1.7rem;
  }
  .story_name_alt {
    font-size: 1.8rem;
  }
  .card_wrapper {
    padding: 20px 10px 20px 10px;
  }
  .card_wrapper:hover,
  .card_wrapper:focus,
  .card_wrapper:active {
    margin-bottom: 1.2rem;
    box-shadow: 10px 15px 15px 0px rgba(0, 0, 0, 0.2);
    .story_name {
      font-size: 1.9rem;
    }
  }
  .head_wrapper {
    margin-bottom: 1rem;
  }
  .genres_wrapper,
  .story_description {
    font-size: x-small;
  }
}
