.toggle_button {
  background: var(--toggle-color);
  display: flex;
  justify-content: space-between;
  width: 70px;
  cursor: pointer;
  border-radius: 20px;
}

.svg {
  color: #191518;
  margin: 3px 3px 0px 3px;
}

.toggle {
  position: absolute;
  height: 25px;
  width: 25px;
  margin: 2px 2px 0px 2px;
  border-radius: 50%;
  transition: 0.3s;
  transform: translateX(5%);
  background: #e3e1f0;
}

.toggle_alt {
  background: #191518;
  transform: translateX(160%);
}

@media (max-width: 600px) {
  .toggle_button {
    margin-top: 2px;
    width: 60px;
  }
  .svg {
    margin: 2px 2px 0px 2px;
  }
  .toggle {
    height: 23px;
    width: 23px;
  }
  .toggle_alt {
    transform: translateX(140%);
  }
}

@media (max-width: 500px) {
  .toggle_button {
    margin-top: 2px;
    width: 50px;
  }
  .svg {
    margin: 3px 2px 0px 2px;
    height: 17px;
    width: 20px;
  }
  .toggle {
    transform: translateX(3%);
    height: 20px;
    width: 20px;
  }
  .toggle_alt {
    transform: translateX(120%);
  }
}
